A requirements.txt file is a python file that lists all libaries/packages needed for a project specifiying the exact version 
and allows developers to easily install what is required for that project.
